### Practice Case Python Data Fellowship Batch 6
LAILA FITRIA

##### Question 1 - Using Dataset A above, The table given to you cannot be updated, so if there is a change in the status of a transaction the new data is inserted instead of updating the status of the transaction, it will insert a new row with the same id and insert time based on the time when the row is inserted. You are assigned to create a view that only shows the most updated transactions for each id, so there is no duplicate id inside the view.

In [2]:
# library
import pandas as pd

In [3]:
# Prepare empty dataframe
df = pd.DataFrame(columns = ['id','insert_time','tx_amount','tx_type','status'])

In [4]:
# Function to input data
def input_data():
    # initialization
    status = ''
    id_count = 0
    insert_time_count = 0
    
    # input instruction
    id_num = int(input('Input id : '))
    insert_time = input('Input date (dd/mm/yyyy) : ')
    tx_amount = int(input('Input transaction amount : '))
    tx_type = input('Input transaction type (Buy/Sell) : ')
    
    # count id & count insert time
    for i in range(len(df)):
        if((df['id'][i] == id_num) & (df['insert_time'][i] == insert_time)):
            id_count += 1
            insert_time_count += 1
        elif((df['id'][i] == id_num) & (df['insert_time'][i] != insert_time)):
            id_count += 1
    
    # rules for status
    if((id_count % 2 == 0) & (insert_time_count % 2 == 0)):
        if(df.empty):
            status = 'Open'
        status = 'Open'
    if((id_count % 2 == 1) & (insert_time_count % 2 == 0)):
        status = 'Open'
    if((id_count % 2 == 1) & (insert_time_count % 2 == 1)):
        status = 'Close'
    if((id_count % 2 == 0) & (insert_time_count % 2 == 1)):
        status = 'Close'

    # preparing dataframe
    df_input = []
    df_input.append(id_num)
    df_input.append(insert_time)
    df_input.append(tx_amount)
    df_input.append(tx_type)
    df_input.append(status)
    
    return df_input

In [35]:
# input here
df_to_insert = input_data()

Input id : 2
Input date (dd/mm/yyyy) : 28/06/2021
Input transaction amount : 3300
Input transaction type (Buy/Sell) : Sell

In [36]:
# insert new data
df.loc[len(df)] = df_to_insert

In [37]:
# current data
df

  id insert_time tx_amount tx_type status
0  1  26/06/2021      1000     Buy   Open
1  1  26/06/2021      1002    Sell  Close
2  1  27/06/2021      2000     Buy   Open
3  1  27/06/2021      2500     Buy  Close
4  1  27/06/2021      3000    Sell   Open
5  2  27/06/2021      2200     Buy   Open
6  2  28/06/2021      3300    Sell   Open

In [38]:
# all record
df.to_csv('all_record.csv', index=False)

In [41]:
# get the last updated transaction per id
g = df.groupby('id')

g = (pd.concat([g.tail(1)])
   .drop_duplicates()
   .sort_values('id')
   .reset_index(drop=True))

g

  id insert_time tx_amount tx_type status
0  1  27/06/2021      3000    Sell   Open
1  2  28/06/2021      3300    Sell   Open

In [42]:
# save to csv file
g.to_csv('most_updated_transaction_per_id.csv', index=False)

##### Question 2 - Using Dataset B above, Write a query to get the rolling sum total of sales using the window function!

In [2]:
# library
import io
import requests

# get data from github
url = "https://raw.githubusercontent.com/lailafitria10/practice-case---python/main/dataset_b.csv"
dataset = requests.get(url).content

# define rolling sum function
def rolling_sum(dataset, window=2): #by default window=2 
    df = pd.read_csv(io.StringIO(dataset.decode('utf-8')))
    df['date'] = df['date'].astype('datetime64[ns]')
    df = df.set_index('date')
    return df.sales.rolling(window=window).sum()

# call the function
rolling_sum(dataset, window=2)

date
2021-01-01       NaN
2021-02-01     134.0
2021-02-01     157.0
2021-02-01     257.0
2021-03-01     279.0
2021-03-01     169.0
2021-04-01     565.0
2021-04-01    1177.0
2021-05-01     958.0
2021-06-01     564.0
2021-07-01     264.0
2021-08-01      68.0
Name: sales, dtype: float64

##### No.3 	Using Dataset C above, write a code with following requirements:

In [3]:
# library
import urllib
import json

# get data from github
link = "https://raw.githubusercontent.com/lailafitria10/practice-case---python/main/dataset_c.txt"
file_json = urllib.request.urlopen(link)
data = json.load(file_json)
file_json.close()

##### 3.a  Your task is to create an automation (python script preferable) that convert JSON file above into three CSV files below:
Csv 1

In [4]:
# define function
def get_id(data):
    user_id = []
    txs_id = []
    for data in data:
        for txs in data["txs"]:
            user_id.append(data["user"]["id"])
            txs_id.append(txs["id"])
    print('user_id :',user_id)
    print('txs_id :',txs_id)
    df = pd.DataFrame({'user_id':user_id, 'txs_id':txs_id})
    print('\ndata frame :')
    print(df)
    df.to_csv('answer_3a.csv', index=False)

# call the function 
get_id(data)

user_id : [1, 1, 1, 2, 2, 2]
txs_id : [1, 3, 5, 2, 4, 6]

data frame :
   user_id  txs_id
0        1       1
1        1       3
2        1       5
3        2       2
4        2       4
5        2       6

#### CSV 2

In [5]:
# define function
def get_name_id(data):
    name_email = []
    for data in data:
        name_email.append(data["user"])
    df = pd.DataFrame(name_email)
    df.to_csv("answer_3b.csv", index=False)
    print('\nResult :')
    print(df)

# call the function 
get_name_id(data)

Result :
   id  name             email
0   1  agus  agus@example.com
1   2  asep  asep@example.com

#### CSV 3

In [6]:
# define function
def get_trx_data(data):
    df_trx = []
    for data in data:
        for trx in data["txs"]:
            df_trx.append(trx)
    df = pd.DataFrame(df_trx)
    df.to_csv("answer_3c.csv", index=False)
    print('\nResult :')
    print(df)

# call the function 
get_trx_data(data)

Result :
   id     tx_date  tx_amount tx_type
0   1  2020-01-01         10     buy
1   3  2020-02-01         10     buy
2   5  2020-03-01         20    sell
3   2  2020-01-01         10    sell
4   4  2020-02-01         10    sell
5   6  2020-03-01         20     buy